In [ ]:
import requests
import pandas as pd
from pandas import json_normalize
import json
import random
from datetime import datetime, timedelta

In [4]:
## Tentukan range waktu untuk generate timestamp
start = datetime(2025, 10, 1)
end = datetime(2025, 10, 31, 23, 59, 59)

In [ ]:
## sementara dari local
# r_product = requests.get('https://fakestoreapi.com/products')
# r_sales = requests.get('https://fakestoreapi.com/carts')

## Load data products
with open('products.json', 'r') as file:
    r_product = json.load(file)

df_product = pd.concat(json_normalize(r_product['products']) for i in range (len(r_product['products'])))

## Load data carts
with open('carts.json', 'r') as file:
    r_carts = json.load(file)

df_sales = pd.DataFrame()
for item in r_carts['carts']:
    df_temp = json_normalize(item['products'])
    df_temp['transactiondate'] = start + (end - start) * random.random()
    df_sales = pd.concat([df_sales,df_temp],ignore_index=True)

In [6]:
df_product = df_product[['id','title','description','category','price']]
df_sales = df_sales[['id','title','price','quantity','transactiondate']]

In [7]:
df_merge = pd.merge(df_product,df_sales,on='title',how='inner')
df_merge = df_merge[['id_x','title','category','quantity','price_y','transactiondate']].rename(columns ={
        'id_x': 'product_id',
        'title': 'product_name',
        'price_y': 'price', 
    }
)
df_merge['total_sales'] = df_merge['quantity']*df_merge['price']

In [8]:
from soda.scan import Scan
df_merge.head()

,product_id,product_name,category,quantity,price,transactiondate,total_sales
0,1,Essence Mascara Lash Princess,beauty,2,9.99,2025-10-27 06:06:01.629456,19.98
1,1,Essence Mascara Lash Princess,beauty,5,9.99,2025-10-31 10:28:30.485095,49.95
2,2,Eyeshadow Palette with Mirror,beauty,2,19.99,2025-10-20 09:11:25.340322,39.98
3,4,Red Lipstick,beauty,1,12.99,2025-10-12 17:15:31.009260,12.99
4,5,Red Nail Polish,beauty,5,8.99,2025-10-11 11:17:32.474488,44.95